<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <!-- El metodo onSubmit fue explicado por copilot sobre como conectarlo con el typescript del metodo onSubmit -->
  <div class="label">
    <label for="title">Título:</label>
    <input id="title" type="text" formControlName="title" />
    <!-- Este codigo fue explicado por copilot para mostrar mensajes de error cuando con invalidos los inputs -->
    <div
      *ngIf="productForm.get('title')?.invalid && productForm.get('title')?.touched"
      style="color: red"
    >
      El título es requerido.
    </div>

    <label for="price">Precio:</label>
    <input id="price" type="number" formControlName="price" />
    <div
      *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched"
      style="color: red"
    >
      El precio es requerido y debe ser positivo.
    </div>

    <label for="description">Descripción:</label>
    <textarea id="description" type="text" formControlName="description"></textarea>
    <div
      *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched"
      style="color: red"
    >
      La descripción es requerida.
    </div>

    <label for="categoryId">Categoría:</label>
    <select id="categoryId" formControlName="categoryId">
      <option value="">Seleccione una opción</option>
      <option value="33">Clothes (Ropa, ej: Blusa o Pantalón)</option>
      <option value="36">Shoes (Zapatos, ej: Tenis)</option>
      <option value="34">Electronics (Electrónicos)</option>
      <option value="35">Furniture (Muebles)</option>
      <option value="37">Miscellaneous (Misceláneos)</option>
      <option value="38">New Category (Nueva Categoría)</option>
      <option value="40">Books (Libros)</option>
      <option value="41">Books1 (Libros1)</option>
      <option value="42">Nueva categoría</option>
    </select>
    <div
      *ngIf="productForm.get('categoryId')?.invalid && productForm.get('categoryId')?.touched"
      style="color: red"
    >
      La categoría es requerida.
    </div>

    <button type="submit">Crear producto</button>
  </div>
</form>
